/*
"Anime" CSS Document

░░▒▒▓▓██->

Contains transitions and standard animations.
Animations have vendor prefixes for -ms-, -webkit-, -moz-, and -o-.

README: .ease-up breaks element positioning due to movement, use only on body (probably)
*/

.fade-in {
    animation: fade-in 1s;
    -ms-animation: fade-in 1s;
    -webkit-animation: fade-in 1s;
    -moz-animation: fade-in 1s;
    -o-animation: fade-in 1s;
}
.fade-out {
    animation: fade-in 1s;
    -ms-animation: fade-in 1s;
    -webkit-animation: fade-in 1s;
    -moz-animation: fade-in 1s;
    -o-animation: fade-in 1s;
    animation-direction: reverse; /* saves on line count */
    -ms-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
}
@keyframes fade-in {
    from {opacity:0;} to {opacity:1;}
}
@-ms-keyframes fade-in {
    from {opacity:0;} to {opacity:1;}
}
@-webkit-keyframes fade-in {
    from {opacity:0;} to {opacity:1;}
}
@-moz-keyframes fade-in {
    from {opacity:0;} to {opacity:1;}
}
@-o-keyframes fade-in {
    from {opacity:0;} to {opacity:1;}
}
.ease-up {
    animation: ease-up 1s;
    -ms-animation: ease-up 1s;
    -webkit-animation: ease-up 1s;
    -moz-animation: ease-up 1s;
    -o-animation: ease-up 1s;
    animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
}
@keyframes ease-up {
    from {top: 2rem;} to {top: 0rem;}
}
@-ms-keyframes ease-up {
    from {top: 2rem;} to {top: 0rem;}
}
@-webkit-keyframes ease-up {
    from {top: 2rem;} to {top: 0rem;}
}
@-moz-keyframes ease-up {
    from {top: 2rem;} to {top: 0rem;}
}
@-o-keyframes ease-up {
    from {top: 2rem;} to {top: 0rem;}
}
